# (Unanonymized data)
data/transient_data_files
data/supplementary_info
data/pretest
data/raw
data/verbal_CSI
data/data_for_a_priori_power_analysis/
results/
*.csv
scripts/old
scripts/10_CSI_online_typing_additional_code_bits_that_might_be_useful_some_time.Rmd
scripts/01_CSI_online_typing_power_analysis_based_on_verbalCSI_online.html
.DS_Store
*/.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
